.btn-buscar {
    height: 58px;
    background-color: var(--color-principal);

    @media (max-width: 768px) {
        width: 100%;
    }

    @media (min-width: 769px) {
        width: 58px;
    }

}