<div class="modal fade show" id="exampleModalLive" tabindex="-1" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{this.titulo}} Personal</h2>
        <button type="button" class="btn-close" (click)="CerrarModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario">
          <div class="mb-3 row">
            <label for="desc" class="col-sm-3 col-form-label">Nombre: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="desc" formControlName="nombre" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="desc" class="col-sm-3 col-form-label">Dirección: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="desc" formControlName="direccion" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="desc" class="col-sm-3 col-form-label">Telefono: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="desc" formControlName="telefono" required>
            </div>
          </div>
          <!-- <div class="mb-3 row">
            <label for="desc" class="col-sm-3 col-form-label">Responsable: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="desc" formControlName="responsable" required>
            </div>
          </div> -->
          <div class="mb-3 row">
            <label for="horaEntrada" class="col-sm-3 col-form-label">Hora Entrada: </label>
            <div class="col-sm-9">
              <input type="time" class="form-control" id="horaEntrada" formControlName="horaEntrada" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="desc" class="col-sm-3 col-form-label">Hora Salida: </label>
            <div class="col-sm-9">
              <input type="time" class="form-control" id="desc" formControlName="horaSalida" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" style="background-color: var(--color-principal); color: white;"
          (click)="CerrarModal()">Cancelar</button>
        <button type="button" class="btn" [ngClass]="{'disabled': null}"
          style="background-color: var(--color-terciario); color: var(--color-principal);"
          (click)="AccionGuardar()">Guardar</button>
      </div>
    </div>
  </div>
</div>