<section class="w-100 m-0 row d-lg-none gy-3">
@for(personal of PersonalesFiltrados; track $index) {
<div [classList]="[$index == 0 ? 'mt-0' : '', 'col-lg-6 col-12 card shadow-sm p-3'].join(' ')">
  <div class="card-body">
    <h5 class="card-title fw-bold">{{ personal.nombre }}</h5>
    <p class="text-muted mb-2">Id: {{ personal.id }}</p>
    <div class="row mb-2">
      <div class="col-8"><strong>Tipo de documento:</strong></div>
      <div class="col-4 text-end">{{ personal.tipoDocumento }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-7"><strong>N° de documento</strong></div>
      <div class="col-5 text-end">{{ personal.numeroDocumento }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-6"><strong>Telefono:</strong></div>
      <div class="col-6 text-end">{{ personal.telefono }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>Correo:</strong></div>
      <div class="col-8 text-end">{{ personal.correo }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-6"><strong>Estado:</strong></div>
      <div class="col-6 text-end">{{ personal.estado }}</div>
    </div>

    <div class="row mb-2">
      <div class="col-3"><strong>Rol:</strong></div>
      <div class="col-9 text-end">{{ personal.rol }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-5"><strong>Sucursal:</strong></div>
      <div class="col-7 text-end">{{ personal.sucursal }}</div>
    </div>
    <div class="row g-1">
      <button class="btn btn-outline-danger col-12">Asignar Responsable</button>
      <button class="btn btn-outline-danger col-12">Editar</button>
      <button class="btn btn-danger col-12">Eliminar</button>
    </div>
  </div>
</div>
}
</section>