<section style="height: 100vh; width: auto; position: relative; background-image: url(img/Fondo.jpeg);">
    <div class="flotante">
        <div style="display: flex; height: 100%; width: 100%;" class="px-2">
            <div style="flex: 1; background-color: var(--color-principal); background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center;"
                class="d-none d-md-flex">
                <img src="img/Logo.png" alt="" width="80%" height="auto">
            </div>
            <div class="container d-flex flex-column justify-content-center align-items-center"
                style="flex: 1; background-color: var(--color-terciario);">
                <form [formGroup]="formulario">
                    <div class="form-floating mb-3">
                        <h2>Iniciar Sesion</h2>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="correo" placeholder="name@example.com"
                            style="width: 45vh;" formControlName="correo">
                        <label for="correo">Correo Electronico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="clave" placeholder="Clave" style="width: 45vh;"
                            formControlName="clave">
                        <label for="clave">Clave</label>
                    </div>
                    <div class="form-floating">
                        <button type="button" class="btn-lg btn btn-primary"
                            style="background-color: var(--color-principal); border-color: var(--color-terciario);"
                            (click)="ValidarInicioSesion()" [disabled]="formulario.invalid">
                            Iniciar Sesion
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>