<section class="main">
    <div class="flotante position-absolute top-50 start-50 translate-middle">
        <div class="container bg-white position-relative p-4 rounded-4">
            <div class="logo-img rounded-circle translate-middle">
                <picture>
                    <source media="(max-width: 650px)" srcset="logo_bg_mobile.webp">
                </picture>
                <!-- <img class="w-100" src="img/Logo.png" alt="Logo"> -->
            </div>
            <form [formGroup]="formulario" class="position-relative">
                <h2 class="text-center">Bienvenid&#64;</h2>
                <p>Ingrese sus credenciales para acceder a su cuenta</p>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="correo" placeholder="name@example.com" formControlName="correo">
                    <label for="correo">Correo electrónico</label>
                </div>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="clave" placeholder="Clave" formControlName="clave">
                        <label for="clave">Contraseña</label>
                    </div>
                    <button class="btn btn-outline-secondary" (click)="showPassword = !showPassword">
                        <i [classList]="['bi',showPassword ? 'bi-eye' : 'bi-eye-slash'].join(' ')"></i>
                    </button>
                </div>
                <p class="text-secondary opacity-50">Restablecer contraseña</p>
                <button class="btn btn-dark w-100 d-flex gap-2 justify-content-center" (click)="ValidarInicioSesion()" [disabled]="formulario.invalid">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Iniciar sesión</span>
                </button>
            </form>
        </div>
    </div>
</section>