<div class="p-4" tabindex="-1">
    <div class="modal-content gap-3">
        <div class="modal-header">
            <h2 class="modal-title">{{this.titulo}} accesos</h2>
        </div>
        <div class="modal-body px-4 overflow-y-auto" style="max-height: 350px;">
            @for (item of menusConPermiso; track $index) {
                <app-permiso-item-component
                    [item]="item"
                    [nivel]="0"
                    [actualizarPermiso]="ActualizarPermiso.bind(this)"
                ></app-permiso-item-component>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" style="background-color: var(--color-principal); color: white;"
                (click)="CerrarModal()">Cerrar</button>
        </div>
    </div>
</div>